@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400;500;600&family=Krub:wght@200;300;400&family=Love+Light&family=Ms+Madi&family=Open+Sans:wght@700&family=Passions+Conflict&display=swap');
@import 'mixin';

/**
  * * The primary font is "Cormorant"
  * * The secondary font is "Krub"
  * * Primary Handwriting font alternative is "Ms Madi"
  * * Secondary Handwriting font alternative is "Mrs Saint Delafield / love light"
*/
$primary-color: #ffffff;
$accent-color: #017294;
$secondary-color: #79F2E3;
$primary-font: 'Cormorant Garamond', serif;
$secondary-font: 'Krub', sans-serif;
$primary-handwriting: 'Ms Madi', cursive;
$secondary-handwriting: 'love light', cursive;
$handwriting: 'Dancing Script', cursive;
$handwriting-1: 'Passions Conflict', cursive;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  //Hide ugly browser scroll bar
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
//Hide ugly browser scroll bar
html::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
@font-face {
  font-family: myFirstFont;
  src: url(/public/fonts/Better.ttf);
  
}
@font-face {
  font-family: mySecondFont;
  src: url(/public/fonts/Darlington.ttf);
  
}
