@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
@import 'mixin';

$primary-color: #ffffff;
$accent-color: #017294;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;

}

html {
  scroll-behavior: smooth;
}

