@import 'config';
@import 'mixin';

.experience-section{
    position: relative;
    background-color: $primary-color;
    font-family: $primary-font;
    color: $accent-color;
    background-color: rgb(0, 212, 255, 0.1);
    h3{
        @include handwriting;    
    }
    h1{

        @include section-header;
    }
    p{

        @include section-text;
        font-weight: 700;
    }
    button{
            @include btn;
            margin-top: 4rem;
            z-index: 2;
        }
    &-1{
        @include experience;
        .cut-9{
            @include top-cut;
        }

        .text-1{
            position: absolute;
            top: 4%;
            width: 100%;
            height: 60vh;
            color: $accent-color;
            p:last-of-type{
                margin-top: 2rem;
            }
        }
        .cut-10{
            @include top-cut;
            transform: rotate(0deg);
            top: 95%;
        }
        .flower-1{
            @include flower;
            top: 10%;
            
        }
        .flower-2{
            @include flower;
            bottom: 11.75rem;
            right: 0;
            z-index: 2;
            img{
                width: 60%;
                position: absolute;
                right: 0;
            }
        }
    }
    &-2{
        position: relative;
        height: 75vh;
        width: 100%;
        background-color: rgb(38, 150, 233, 0.4);
      
        video{
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        transform: rotate(180deg);
        z-index: -1;
        }
        
    }
    &-3{
        
        @include experience;
        height: 70vh;

        .cut-11{
            @include top-cut;
        }
        .animated-img{
            position: relative;
            top: 18%;
            left: 4%;
            max-width: 50%;
            max-height: 50%;
            img{
                position: absolute;
                width: 100%;
                z-index: 1;
            }
        }
        .text-2{       
            position: relative;
            top: 18%;
            z-index: 2;
                
        }
    }
    &-4{
        
        @include experience;
        background-color: $primary-color;
        height: 130vh;
        .slide-animation{
            position: relative;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 8%;
            @include bgCover;
            width: 100%;
            height: 120vh;
            margin: 0 auto;
            animation: textureSlide 15s step-end infinite;
            @keyframes textureSlide {
                0%,100%{
                    background-image: url('/public/images/first-paint.png');
                }
                50%{
                    background-image: url('/public/images/second-paint.png');
                }
            }
            
        }
        .cut-12{
        @include top-cut;
        position: relative;
        height: 5%;
        top: 100%;
        width: 100%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .experience-section-1{
        height: 80vh;
        


        .flower-2{
            bottom: 1.75rem;
        }
    }
    .text-1, .text-2{

            padding: 0 1rem
        }
}