@import 'config';
@import 'mixin';


.faq-page{
    position: relative;
    display: grid;
    grid-auto-flow: row;
    width: 100vw;
    min-height: 100%;
    font-family: $primary-font;

    .questions{
      position: relative;
      height: auto;
      margin-top: 6rem;
      margin-left: 8vw; 
      .header{
        position: relative;
        margin-bottom: 1.25rem;
        color: $accent-color;
        letter-spacing: -2px;

        font: {
          size: 4.25rem;
          family: mySecondFont;
          weight: 500;
          style: italic;
        }
        span{
          font: {
            family: $handwriting-1;
            stretch: condensed;
            style: italic;
          }
          position: absolute;
          top: 8%;
          letter-spacing: -4px;
          

        }
      }h3{
        font: {
          weight: 700;
          size: 1.25rem;

        }
        margin: 1.25rem 0 1rem;
        margin-right: 10%;

      }
      p{
        font: {
          size: 1.25rem;
        }
        line-height: 1.5;
        padding-bottom: 0.26rem;
        word-wrap: break-word;
        margin-right: 10%;
      }

      
    }
    
    
    
    footer{
      position: relative;
      margin-top: 4rem;
      
    }
  }
  
