@import 'config';
@import 'mixin';


.faq-page{
    position: relative;
    display: grid;
    grid-auto-flow: row;
    width: 100vw;
    min-height: 100%;
    font-family: $primary-font;

    .questions{
      position: relative;
      height: auto;
      margin-top: 6rem;
      margin-left: 6vw; 

      .header{
        position: relative;
        margin-bottom: 1.25rem;
        color: $accent-color;
        letter-spacing: -2px;

        font: {
          size: 4.25rem;
          family: mySecondFont;
          weight: 500;
          style: italic;
        }
        span{
          font: {
            family: $handwriting-1;
            stretch: condensed;
            style: italic;
          }
          position: absolute;
          top: 8%;
          letter-spacing: -4px;
          

        }
      }
      h3{
        font: {
          weight: 700;
          size: 1.25rem;

        }
        margin: 1.25rem 0 1rem;
        margin-right: 10%;

      }
      p{
        font: {
          size: 1.25rem;
        }
        line-height: 1.5;
        padding-bottom: 0.26rem;
        word-wrap: break-word;
        margin-right: 10%;
      }
      @keyframes faq-bg {
        0%{
          background-image: url("/public/images/Ink_1.png");
        }
        25%{
          background-image: url("/public/images/Ink_2.png");
        }
        50%{
          background-image: url("/public/images/Ink_4.png");
        }
        75%{
          background-image: url("/public/images/Ink_5.png");
        }
        100%{
          background-image: url("/public/images/Ink_8.png");
        }
        

        
      }
      .bg-animation{
        position: absolute;
        width: 60%;
        height: 100vh;
        right: 6%;
        top: 25%;
        max-width: 40vw;
        max-height: 70vh;
        animation: faq-bg 35s;
        animation-iteration-count: infinite;
        width: 800px;
        @include bgCover();
        z-index: 1;
        // scale: 1.3;

      //  img{
      //   width: 80%;
      //  }
      }
      .sticky-faq{
        position: fixed;
      }
      
    }
    
    
    
    footer{
      position: relative;
      margin-top: 4rem;
      
    }
  }
@media only screen and (max-width: 992px){
  .questions .bg-animation{
    display: none;
  }
}
