@import 'config';
@import 'mixin';

.footer-box{
    width: 100%;
    height: 10vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 10%, 80%);
    font-family: $secondary-font;
    color: $accent-color;
    align-items: center;
    
    .logo{
        position: relative;
        width: 80%;
        height: 80%;
        display: grid;
        margin: 2.5rem 1.75rem -1rem ;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
        z-index: 1;
        // cursor: pointer;
        h3{
            font: {
                size: 0.95rem;
                weight: 700;
            }
            padding-left: 0.125rem;
            font-family: open sans;
            font-weight: 700;
            position: absolute;
            margin-top: 0.75rem;
            cursor: pointer;
        }
        img{
            width: 50px;
            position: absolute;
            top: -20%;
            // left: -140%
            // background-color: red;
        }
    }
    .subscribe{
        height: 50%;
        width: 70%;
        z-index: 1;
        p{
            
            font-size: 1rem;
            margin: 0.75rem 0 1.05rem;
            display: inline-block;
            cursor: pointer;
            &:hover{
                color: rgb(0, 0, 0, 0.7);
                font-weight: 600;
            }
        }
        
        .social{
            cursor: pointer;
            margin-left: 0.25rem;
            color: $accent-color;
            &:hover{
                color: black;
            }
        }
    }
    
    
}
.chat{
        position: fixed;
        right: 1%;
        background-color: $accent-color;
        width: 42px;
        border-radius: 6px;
        height: 42px;
        z-index: 4;
        .chat-bubble{
            margin: 10px 5px 5px 8px;
            // margin: auto;
            // width: 60%;
            // padding: 10px;
        }
}
.sticky1{
    position: fixed;
    top: 92vh;
}