@import 'config';
@import 'mixin';

.footer-box{
    width: 100%;
    height: 15vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 10%, 80%);
    font-family: $secondary-font;
    color: $accent-color;
    align-items: center;
    
    .logo{
        position: relative;
        width: 80%;
        height: 80%;
        display: grid;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
        z-index: 1;
        h3{
            font: {
                weight: 700;
                family: $secondary-font;
            }
            position: absolute;
            letter-spacing: 0.28rem;
        }
        .zigi, .flare{
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            z-index: 1;
            top: 40%;
            color: $accent-color;
            filter: invert(80%) sepia(67%) saturate(3302%) hue-rotate(176deg) brightness(97%) contrast(101%);
        }
        .flare{
            position: absolute;
            top: 0;
        }

    }
    .subscribe{
        height: 50%;
        width: 70%;
        z-index: 1;
        p{
            
            font-size: 1rem;
            margin: 0.75rem 0 1.05rem;
            display: inline-block;
            cursor: pointer;
            &:hover{
                color: rgb(0, 0, 0, 0.7);
                font-weight: 600;
            }
        }
        
        .social{
            cursor: pointer;
            margin-left: 0.25rem;
            color: $accent-color;
            &:hover{
                color: black;
            }
        }

        
    }
    
    
}
.chat{
        position: fixed;
        right: 1.25rem;
        background-color: $accent-color;
        width: 42px;
        border-radius: 6px;
        height: 42px;
        z-index: 4;
        cursor: pointer;
        .chat-bubble{
            margin: 10px 5px 5px 8px;
        }
        &:hover{
            background-color: #000;
        }
}
.sticky1{
    position: fixed;
    bottom: 2.75rem;
}
              /****************
               *  * PHONE * *
               ****************/
@media only screen and (max-width: 768px) {
    .logo{
        left: 0;
        top: 0.45rem;
        margin: 4rem -2rem;
        h3{
            font-size: 0.5rem;
            margin-left: 2.95rem;
            margin-top: 2rem;
            }
    }
    .flare{
         width: 18px;
         height: 18px;
         margin: 1.25rem 0 0 3.5rem;
    }
    .zigi{
        height: 12px;
        width: 38px;
        margin-left: 3rem;
    }
    .footer-box .subscribe{
        margin-left: 2rem;
    }
    
}
             /*************************
              * * TABLET AND LAPTOP * *
              *************************/
@media only screen and (min-width: 769px) {
    
        .logo{
            left: 1rem;
            margin: 4.25rem 1.75rem -1rem ;
            h3{
                font-size: 0.75rem;
                margin-left: 3.1rem;
                margin-top: 2.5rem;
            }
                }
        .chat{
            right: 4.6rem
        }
        .zigi, .flare{
            margin-left: 2.85rem;

        }
         .flare{
         width: 28px;
         height: 28px;
         margin-left: 3.75rem;

        }
        .zigi{
            height: 12px;
            width: 58px;
        }
}