@import 'config';
@import 'mixin';

.footer-component{
        display: flex;
        width: 100%;
        height: 10vh;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid rgb(0, 0, 0, 0.5);
        box-shadow: 0 0 5px rgb(204, 204, 204);
        padding: 0 5rem;
        .footer-social{
            cursor: pointer;
            @include transition-ease;
            color: black;
            size: 4;

            &:hover{
                color: orange;//$accent-color;
                transform: translateY(-10px)
                
            }
        }
        .zigzag{
            @include flower;
            max-width: 44px; 
            max-height: 44px;
            filter: invert(100%);
            position: relative;
        }
        .nav-cta{
            display: inline-block;
            text-decoration: none;
            color: black;
            a{
                text-decoration: none;
                color: black;
                font-family: $secondary-font;
                font-weight: 700;
                // font-size: 0.85rem;
                padding-left: 1.5rem;
                @include transition-ease;  
                &:hover{
                    color: orange;//$accent-color;
                }
            }
        }
    }
@media only screen and (min-width: 648px) {
    .nav-cta{
            font-size: 0.85rem;
            padding-left: 1.5rem;
    }
}
@media only screen and (max-width: 648px) {
    .footer-component{
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 20vw);
        grid-column-gap: 4rem;
        justify-content: center;

        .footer-social{
            justify-self: center;
            display: grid;
            grid-row-gap: 1.5rem;
            order: 3;
            margin-left: 2rem;
            background-color: red;
        }
        .zigzag{
            margin-left: 30%;
            order: 2;
        }
        .nav-cta{
            margin: 2rem;
            display: grid;
            grid-row-gap: 2rem;
            justify-self: center;
            justify-items: start;
            order: 1;
            margin-right: 4rem;
        }
    }
}
            /**************************************
             * TWO DIFFERENT FOOTER DESIGNS *
             **************************************/
// @media only screen and (max-width: 648px) {
//     .footer-component{
//         height: auto;
//         display: grid;
//         grid-template-columns: repeat(1, 90vw);
//         grid-row-gap: 2rem;
//         justify-content: center;
// 
//         .footer-social{
//             display: flex;
//             margin-top: 1rem;
//             justify-self: center;
//             margin-left: 1.25rem;
//             width: 100%;
//         }
//         .zigzag{
//             margin-left: 47%;
//         }
//         .nav-cta{
//             display: grid;
//             grid-template-columns: repeat(3, 1fr);
//             justify-content: space-between;
//             margin-bottom: 2rem;
//             justify-items: center;
//             width: 100%;
//         }
//     }
// }
//  @media only screen and (max-width: 648px) {
//     .footer-component{
//         height: auto;
//         display: grid;
//         grid-template-columns: repeat(1, 90vw);
//         grid-row-gap: 2rem;
//         justify-content: center;
// 
//         .footer-social{
//             display: flex;
//             margin-bottom: 1rem;
//             justify-self: center;
//             margin-left: 1.75rem;
//             width: 100%;
//             order: 3;
//         }
//         .zigzag{
//             margin-left: 48%;
//             order: 2;
//         }
//         .nav-cta{
//             display: grid;
//             grid-template-columns: repeat(3, 1fr);
//             justify-content: space-between;
//             margin-top: 2rem;
//             justify-items: center;
//             width: 100%;
//             order: 1;
//         }
//     }
// }