@import 'config';
@import 'mixin';

.footer-box{
    width: 100%;
    height: 15vh;
    display: grid;
    position: relative;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 10%, 80%);
    font-family: $secondary-font;
    color: $accent-color;
    align-items: center;
    
    .logo{
        position: relative;
        width: 80%;
        height: 80%;
        display: grid;
        justify-content: center;
        align-items: center;
        // padding-bottom: 2rem;
        z-index: 1;
        h3{
            font: {
                weight: 700;
                family: $secondary-font;
            }
            position: absolute;
            letter-spacing: 0.28rem;
        }
        .zigi, .flare{
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            z-index: 1;
            top: 40%;
            color: $accent-color;
            filter: invert(80%) sepia(67%) saturate(3302%) hue-rotate(176deg) brightness(97%) contrast(101%);
        }
        .flare{
            position: absolute;
            top: 0;
        }

    }
    .subscribe{
        height: 50%;
        width: 70%;
        position: relative;
        margin-top: 5%;
        z-index: 1;
        p{
            
            font-size: 1rem;
            margin: 0.75rem 0 1.05rem;
            display: inline-block;
            cursor: pointer;
            &:hover{
                color: rgb(0, 0, 0, 0.7);
                font-weight: 600;
            }
        }
        
        .social{
            cursor: pointer;
            margin-left: 0.25rem;
            color: $accent-color;
            &:hover{
                color: black;
            }
        }

        
    }
    
    
}
.chat{
        position: fixed;
        right: 1.25rem;
        background-color: $accent-color;
        width: 42px;
        border-radius: 6px;
        height: 42px;
        z-index: 4;
        cursor: pointer;
        .chat-bubble{
            margin: 10px 5px 5px 8px;
        }
        &:hover{
            background-color: #000;
        }
}
        /********************************
        * HIDE UGLY CHATBOT SCROLL BAR *
        ********************************/
.sc-gZMcBi.hvGjDQ.rsc-content::-webkit-scrollbar{
    display: none;
}
.sc-gZMcBi.hvGjDQ.rsc-content{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

            /***************
            * ICON BUBBLE *
            ***************/
.sc-fjdhpX.icauHa.rsc-float-button{
    &:hover{
            background-color: #000;
        }
    svg{
        display: none;
    }
    position: fixed;
    right: 1.25rem;
    background-color: $accent-color;
    background-size: 28px;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-image: url('/public/images/contact-icon.png');
    width: 42px;
    border-radius: 6px;
    height: 42px;
    bottom: 45px;
    z-index: 4;
    cursor: pointer;
    border-radius: 6px
    !important
    
}
            /******************
            * CHAT CONTAINER *
            ******************/
.sc-iwsKbI.idAEAR.rsc-container{
    right: 1rem
    !important
}
.sc-gZMcBi.hvGjDQ.rsc-content{
    padding: 10px;
    background-color: #fff;
    z-index: 0;
}
            /**********************
            * BOT MESSAGE BUTTON *
            **********************/
.sc-dnqmqq.efROPc.rsc-ts.rsc-ts-bot{
    display: grid;
    margin: 0;

}

.sc-bZQynM.kqsgGJ.rsc-ts-bubble, .sc-bZQynM.dQQACU.rsc-ts-bubble, .sc-bZQynM.jWIGGm.rsc-ts-bubble{
    background-color: #eee;
    position: relative;
    max-width: 400px;
    min-width: 70px;
    display: inline-block;
    color: rgb(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 8px 5px 8px 15px;
    border-radius: 20px 20px 20px 0;
    // margin-bottom: 5px;
    // margin-right: 25%;
    margin: 5px 25% 5px 5px;
  
}


        /******************
        * OPTION BUTTION *
        ******************/
.sc-bxivhb.lkjhsT.rsc-os-option-element{
    background-color: #eee;
    color: $accent-color;
    border: 2px solid $accent-color;
    margin: 0 10px 5px 0;
    border-radius: 10px;
    &:hover{
        background-color: $accent-color;
        color: $primary-color;
        border: 2px ridge $primary-color;
        opacity: 1;
    }
}

        /***********************
        * USER MESSAGE BUBBLE *
        ***********************/
.sc-bZQynM.dVpCuh.rsc-ts-bubble{
    color: white;
    background: linear-gradient(to bottom, #0085D1 0%, #017294 100%);
    margin: 10px 5px;
    background-attachment: fixed;
    // position: relative;
    border-radius: 20px 20px 0 20px;
    // border-radius: 20px;
}
// .sc-bZQynM.dVpCuh.rsc-ts-bubble:before{
//     content: "";
//     position: absolute;
//     display: block;
//     bottom: 15px;
//     right: -8px;
//     height: 20px;
//     width: 20px;
//     background: linear-gradient(to bottom, #0085D1 0%, #017294 100%);
//     background-attachment: fixed;
//     border-bottom-left-radius: 15px;  
//     // margin-top: 30rem;
// }
// .sc-bZQynM.dVpCuh.rsc-ts-bubble:after{
//       content: "";
//   position: absolute;
//   display: block;
//   bottom: 15px;
//   right: -10px;
//   width: 15px;
//   height: 20px;
//   background: white;
//   border-bottom-left-radius: 10px;
// }
        /********************
        * AVATAR CONTAINER *
        ********************/
.sc-htoDjs.vmYlS.rsc-ts-image-container, .sc-htoDjs.fmWSyf.rsc-ts-image-container{
    display: none;
}
        /***************
        * SEND BUTTON *
        ***************/
.sc-chPdSV.hiexti.rsc-submit-button{
    svg{
        fill: #017294;
        opacity: 1;
        z-index: 3
        !important
    }
}
.sticky1{
    position: fixed;
    bottom: 2.75rem;
}
              /****************
               *  * PHONE * *
               ****************/
@media only screen and (max-width: 768px) {
    .logo{
        left: -2rem;
        top: 0.45rem;
        margin: 5.5rem -2rem 0;
        h3{
            font-size: 0.5rem;
            margin-left: 2.95rem;
            margin-top: 2rem;
            }
    }
    .flare{
         width: 18px;
         height: 18px;
         margin: 1.25rem 0 0 3.5rem;
    }
    .zigi{
        height: 12px;
        width: 38px;
        margin-left: 3rem;
    }
    .footer-box .subscribe{
        margin-left: 1.25rem;
        margin-top: -1.25rem;
    }
    
}
             /*************************
              * * TABLET AND LAPTOP * *
              *************************/
@media only screen and (min-width: 769px) {
    .footer-box{
        margin-bottom: 2.5rem;
        .logo{
            left: 1rem;
            margin: 3.25rem 1.75rem -1rem ;
            h3{
                font-size: 0.75rem;
                margin-left: 3.1rem;
                margin-top: 2.5rem;
            }
                }
        .chat{
            right: 4.6rem
        }
        .zigi, .flare{
            margin-left: 2.85rem;

        }
         .flare{
         width: 28px;
         height: 28px;
         margin-left: 3.75rem;

        }
        .zigi{
            height: 12px;
            width: 58px;
        }
        
    }
}