@import 'config';
@import 'mixin';


.sticky {
  position: sticky;
  top: 36vh;

}

.navButtonItem {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0, 0.4);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0.75rem;
  position: relative;
  pointer-events: all;
  @include transition-ease;

  &:hover {
    transform: scale(1.2);
  }
  &:active {
    background-color: rgb(0, 0, 0); 
  }
  &::after {
    content: '';
    position: absolute;
    top: -0.075rem;
    right: 0;
    left: 0;
    bottom: 0;
    height: 0.5rem;
    width: 0.5rem;
    transition: all 0.1s ease-in-out;
    border-radius: 50%;
    background-color: transparent;

  }
  &:hover {
    &::after {
        background-color: transparent;
      }
  }
  &:focus, &.active {
    &::after{
      background-color: black;
    }
  }
}

.navButton {
  position: fixed;
  top: 36vh;
  right: 0.5rem;
  grid-template-columns: 1fr;
  // background-color: rgba(0, 0, 0, 0.1);
  padding: 2rem;
  padding-right: 0.5rem;
  z-index: 2;
}

.home,
.island,
.hunt,
.program,
.journey,
.packages,
.experience {
  position: relative;
  text-align: center;
  font-size: 1.25rem;
  font-family: $primary-font;
}

// .home {
//   min-height: 100vh;
// }

// .island {
//   background: #ffff;
// }

.hunt {
  height: 80vh;
  // z-index: -99;
}

.program {
    // background: #ffff;
     min-height: 70vh;
    // z-index: -99;
}

.journey {
    background: #ffd1ba;
     min-height: 80vh;
    // z-index: 2;
}

.packages {
    background: #ce7da5;
     min-height: 80vh;
    // z-index: -99;
}

.experience {
    background-color: aqua;
     min-height: 80vh;
    // z-index: -99;

}