@import 'config';
@import 'mixin';

.home-section{
  position: relative;
}
.bg-text{
  position: relative;
  width: 100%;
  height: 110vh;
  margin: 0 auto;
  font-family: $secondary-font;
  font-weight: 500;
  letter-spacing: 0.25rem;
  color: $primary-color;
  background-color: rgb(0, 113, 148, 0.2);

  .bg{
    position: absolute;
    left: 0;
    top: 0;
    @include bgCover;
    width: 100%;
    height: 110vh;
    margin: 0 auto;
    z-index: -99;
    animation: bg 90s ease infinite;
    @keyframes bg {
      0%, 100%{
        background-image: url('/public/images/slide.jpg');
      }
      10%{
        background-image: url('/public/images/slide1.jpg');
      }
      20%{
        background-image: url('/public/images/slide2.jpg');
      }
      30%{
        background-image: url('/public/images/slide3.jpg');
      }
      40%{
        background-image: url('/public/images/slide4.jpg');
      }
      50%{
        background-image: url('/public/images/slide5.jpg');
      }
      60%{
        background-image: url('/public/images/slide6.jpg');
      }
      70%{
        background-image: url('/public/images/slide7.jpg');
      }
      80%{
        background-image: url('/public/images/slide8.jpg');
      }
      90%{
        background-image: url('/public/images/slide9.jpg');
      }
    }
  }
  



   &-flame, &-zigzag{
    // filter: grayscale(1) invert(1);
    max-width:100%;
    height:auto;
    width: 60px;
    display: inline-block;
    position: relative;
    margin: 0;
    z-index: 1;
    top: 22%;
    margin-bottom: 0;
  
  }
  &-zigzag{
    position: relative;
    top: 24%;
    width: 128px;
    height: 20px;
  }
 
}
.bg-text-action  {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 36%;
  h1{
    font-size: 2rem;
    font-weight: 600;
  }
  h4{
    margin: 2.75rem 0 1.75rem 0;
    font-size: 1rem;
    font-weight: 600;
  }
  p{
    justify-content: center;
    padding-bottom: 1.25rem;
  }
  .action{
    position: relative;
    height: 200px;
    width: 250px;
    margin: 0 auto;
    .direction{
      width: 100px;
      height: 100px;
      position: relative;
      max-width:100%;
      margin: 0 auto;
      height:auto;
      margin-top: 3rem;
      z-index: 2;
      &:hover{
        transform: scale(1.1);
        margin-top: 6rem;
        transition: all 0.6s ease-in-out 0.2s;
      }
    }
    .arrow{
      position: relative;
      max-width:100%;
      margin: 0 auto;
      height:auto;
      width: 50px;
      transform: rotate(180deg);
      
    }
    
    .btn{
      @include btn;
      color: $primary-color;
      font-weight: 500;
      border-color: $primary-color;
      z-index: 2;
      &:hover{
          color: $primary-color;
          font-weight: 600;
      }
    }

  }
  
}
.video-background {
  // background: rgb(255, 73, 73);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1;
  height: 100vh;
  width: 100%;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

.home-text {
  position: relative;
  z-index: -99;
  display: inline-block;
  line-height: 1.5;
  margin: 0 auto;
  color: $accent-color;
  font-family: $primary-font;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.2;
  padding: 0 2rem 5.5rem 2rem;
  border-bottom: 2px solid rgb(128, 128, 128, 0.5);
  margin-top: 4rem;
  &-2{
    padding-top: 2.5rem;
    
  }
  
  &-rule{
    background-color: $accent-color;
    width: 60%;
    margin: 0 auto;
    margin-top: 5.5rem;
  }
}
.bg-cut{

  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffff;
  z-index: 1;
  .first-cut {
        
        position: absolute;
        top: -8px;
        max-height: 50px;
        max-width: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        // background-color: red;
        transform: rotate(180deg);
  
      }
}