@import 'config';
@import 'mixin';



.journey-page{
    height: 100vh;
    position: relative;
    margin: 0 auto;
    font-family: $primary-font;
    // overflow-y: hidden;
    .header{
        position: relative;
        top: 8%;
        // left: 2%;
        display: inline-block;
        h1{
            color: orange;   
            font: {
                size: 3.25rem;
                family: mySecondFont;
                weight: 500;
            };
            .three{
                font-family: myFirstFont;
            }
            .one{
                font-family: myFirstFont;
            }
            
        }
    }
    .journey-plane{
        width: 100%;
        position: relative;
        margin: 0 auto;
        top: 1%;
        left: 2%;
        z-index: 1;
        transform: scale(1.2);
        @include transition-ease;
        img{
        width: 100%;
        filter: drop-shadow(30px 10px 4px rgb(128, 128, 128, 25%))
        }
        

    }
    .journey-body{
        text-align: left;
        display: inline-block;
        margin-top: 3%;
        // margin-top: 28px;
        p{
            width: 100%;
            text-align: justify;
            // text-align-last: justify; 
            font: {
                weight: 700;
                size: 1rem;
                family: $primary-font;
            }
            
        }
        .hashtag{
            position: relative;
            left: 34vw;
            display: inline-block;
            margin: 0 auto;
            padding-bottom: 2rem;
            
            font: {
                weight: 700;
                size: 0.85rem;
                family: $secondary-font;
            }
        }
    }

    
    .journey-map{
        position: relative;
        width: 100vw;
        height: 60vh;
        left: calc(-50vw + 50%);
        overflow: hidden;
        z-index: -99;
        border-bottom: 1px solid rgb(0, 0, 0, 0.5);
        box-shadow: 0 0 5px rgb(204, 204, 204); 
        @include bgCover;
        @include transition-ease;
        
        
    }
   
}
.journey-footer{
    width: 100vw;
    left: calc(-50vw + 50%);
}

               /*************************************  *
                * *  PHONE AND TABLET MEDIA QUERY * *  
              *  *************************************/ 
@media only screen and (max-width: 992px) {
    .journey-page{
        width: 85%;
        .header{
            margin-bottom: 8vh;
        }
        .journey-body{
            padding-top: 6vh;
            p{
                line-height: 2;
            }
        }
        .journey-plane{
            margin-right: 4rem;
            margin-top: 2vh;
            max-width: 90%;
            max-height: 100%;
            padding-left: 0.5em;
        }
       
    }
}
              /**********************  *
             *  * LAPTOP MEDIA QUERY *  *
             *  **********************/ 
@media only screen and (min-width: 992px) {
    .journey-page{
        width: 75%;
        .journey-body{
            line-height: 1.8;
    
        }
        .journey-plane{
            max-width: 70%;
            max-height: 70%;
            &:hover{
            transform: scale(1);
        }
        }
        .journey-map:hover{
                width: inherit;
                height: 82vh;
                position: relative;
                width: 100vw;
                height: 80vh;
                left: calc(-50vw + 50%);
                z-index: -99;
               
            }
    }
}
