.logo-container{
      position: relative;
      max-width: 64px;
      max-height: 48px;
      a{
        // color: #000;
        text-decoration: none;
      }
      .flames, .zag{
        // filter: grayscale(1) invert(1);
        max-width:100%;
        height: 12px;
        width: 58px;
        display: inline-block;
        position: relative;
        margin: 0;
        z-index: 1;
        top: 22%;
        margin-bottom: 0;
        color: $accent-color;
        
      }
      .flames{
        width: 28px;
        height: 28px;
      }
      
      p{
        letter-spacing: 0.28rem;
        
        font: {
          family: $secondary-font;
          weight: 700;
        }
      }
    }
@media only screen and (max-width: 768px) {
  .logo-container{
      margin-left: 4vh; 
    .flames{
      width: 18px;
      height: 18px;
      margin-left: 0.55rem;
      margin-top: 1.25rem;
    }
    .zag{
      width: 38px;
    }
    p{
      font-size: 0.5rem;
      margin: 0.4rem 0 0 0;//0.95rem 0 0 0.25rem;

    }
  }
}
@media only screen and (min-width: 769px) {
  .logo-container{
      margin-left: 4rem; 
      .flames{
        margin-left: 0.95rem;
      }
      p{
         font-size: 0.75rem;
         margin: 0.8rem 0 0 0.1rem;//0.95rem 0 0 0.25rem;

      }
  }
}
@media only screen and (min-width: 992px) {
  .logo-container{
      margin-left: 6rem; 
    .flames{
        margin-left: 0.95rem;
      }
      p{
         font-size: 0.75rem;
         margin: 0.8rem 0 0 0.1rem;//0.95rem 0 0 0.25rem;

      }
  }
}