.logo-container{
      position: relative;
      margin-top: 6vh;
      max-width: 64px;
      max-height: 48px;
      a{
        color: #000;
        text-decoration: none;
      }
      .flames, .zag{
        filter: grayscale(1) invert(1);
        max-width:100%;
        height: 12px;
        width: 58px;
        display: inline-block;
        position: relative;
        margin: 0;
        z-index: 1;
        top: 22%;
        margin-bottom: 0;
        color: $accent-color;
        
      }
      .flames{
        width: 28px;
        height: 28px;
        margin-left: 0.95rem;
      }
      
      p{
        letter-spacing: 0.28rem;
        margin: 0.8rem 0 0 0.1rem;//0.95rem 0 0 0.25rem;
        
        font: {
          family: $secondary-font;
          weight: 700;
          size: 0.75rem;
        }
      }
    }
@media only screen and (max-width: 992px) {
  .logo-container{
      margin-left: 4vh; 

  }
}
@media only screen and (min-width: 992px) {
  .logo-container{
      margin-left: 16vh; 

  }
}