@mixin  transition-ease {
      transition: all 0.5s ease-in-out;
};

@mixin btn{
      background-color: transparent;
      width: 168px;
      height: 40px;
      color: $accent-color;
      position: relative;
      z-index: 1;
      font:{
            family: $secondary-font;
            weight: 600;
            size: 1rem;
      }
      text-align: center;
      cursor: pointer;
      border: 2px solid $accent-color;
      overflow: hidden;
      @include transition-ease();

      &::before{
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background: $accent-color;
            top: 0;
            left:-100%;
            z-index: -99;
            @include transition-ease();

      }
      &:hover::before{
            left: 0;
            
      }
      &:hover{
      outline: 1px solid $primary-color;
      box-shadow: 0 0 5px $primary-color;
      background-color: $accent-color;
      color: $primary-color
      
      }
};

@mixin bgCover {
      background:{ 
      size: cover;
      position: center;
      repeat: no-repeat;};
};

@mixin handwriting{
       font: {
                family: $secondary-handwriting;
                weight: 400;
                size: 2rem;
            }
            color: black;
            padding: 3.5rem 0 1rem;
}

@mixin section-header{
       font: {
                family: $primary-font;
                weight: 500;
                size: 1.75rem;
            }
            margin-bottom: 1rem;
}
@mixin section-text{
      color: black;
      font-size: 1rem;
      line-height: 2;
      margin-bottom: 2rem;
}