@import 'config';
@import 'mixin';
.ham{
    position: absolute;
    width: 100%;
    height: 10vh;
    top: 0;
    background-color: #79F2E3//#1c1c1c;
}
.program-page{
    overflow-y: hidden;
    touch-action: none;
}
.details{
        position: relative;
        top: 10vh;
        width: 90%;
        height: 90vh;
        font-family: $primary-font;
        margin: 0 auto;
        p, h1{
            position: relative;
            text-align: center;
            align-items: center;
            top: 15%;
            margin-top: 1.5rem;
        }
        p{
            font: {
                size: 1.05rem;//1.05rem; 1.25rem;
            }

        }
        h1{
            font: {
                size: 4rem;
                family: mySecondFont;

            }
            margin-bottom: 3.5rem;
            word-spacing: 1.25rem;
            letter-spacing: 0.25rem;
        }
        a{
            color: $accent-color;
            font: {
                family: $secondary-font;
                weight: 400;
                size: 0.85rem;
            } 
            &:hover{
                color: orange;
            }
            
        }
        
}