@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Krub:wght@200;300;400&family=Love+Light&family=Ms+Madi&display=swap");
/**
  * * The primary font is "Cormorant"
  * * The secondary font is "Krub"
  * * Primary Handwriting font alternative is "Ms Madi"
  * * Secondary Handwriting font alternative is "Mrs Saint Delafield / love light"
*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Krub:wght@200;300;400&family=Love+Light&family=Ms+Madi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Krub:wght@200;300;400&family=Love+Light&family=Ms+Madi&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 36vh;
}

.navButtonItem {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0.75rem;
  position: relative;
  pointer-events: all;
  transition: all 0.2s ease-in-out;
}
.navButtonItem:hover {
  transform: scale(1.2);
}
.navButtonItem:active {
  background-color: rgb(0, 0, 0);
}
.navButtonItem::after {
  content: "";
  position: absolute;
  top: -0.075rem;
  right: 0;
  left: 0;
  bottom: 0;
  height: 0.5rem;
  width: 0.5rem;
  transition: all 0.1s ease-in-out;
  border-radius: 50%;
  background-color: transparent;
}
.navButtonItem:hover::after {
  background-color: transparent;
}
.navButtonItem:focus::after, .navButtonItem.active::after {
  background-color: black;
}

.navButton {
  position: fixed;
  top: 36vh;
  right: 0.5rem;
  grid-template-columns: 1fr;
  padding: 2rem;
  padding-right: 0.5rem;
}

.home,
.island,
.hunt,
.program,
.journey,
.packages,
.experience {
  position: relative;
  min-height: 80vh;
  text-align: center;
  font-size: 1.25rem;
  font-family: "Cormorant Garamond", serif;
}

.home {
  min-height: 100vh;
}

.island {
  background: white;
}

.hunt {
  background: #ff525e;
}

.program {
  background: #ce7da5;
}

.journey {
  background: #ffd1ba;
}

.packages {
  background: #ce7da5;
}

.experience {
  background-color: aqua;
}

/**
  * * The primary font is "Cormorant"
  * * The secondary font is "Krub"
  * * Primary Handwriting font alternative is "Ms Madi"
  * * Secondary Handwriting font alternative is "Mrs Saint Delafield / love light"
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.menu {
  position: fixed;
  left: 1rem;
  top: 1rem;
  height: 40px;
  width: 50px;
  display: flex;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.menu-burger {
  position: fixed;
  top: 2rem;
  left: 1rem;
  margin: 0.2rem 0.7rem;
  height: 0.1875rem;
  width: 1.75rem;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.menu-burger::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: 0;
  height: 0.1875rem;
  width: 1.75rem;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.menu-burger::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  width: 1.25rem;
  left: 0;
  height: 0.1875rem;
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.menu-burger.open {
  background: transparent;
}
@-webkit-keyframes move {
  0% {
    transform: rotate(90deg) translate(1.5rem, 2px);
    top: 5px;
  }
  100% {
    transform: rotate(90deg) translate(-5px, 2px);
    top: 2px;
  }
}
@keyframes move {
  0% {
    transform: rotate(90deg) translate(1.5rem, 2px);
    top: 5px;
  }
  100% {
    transform: rotate(90deg) translate(-5px, 2px);
    top: 2px;
  }
}
.menu-burger.open::before {
  background-color: #017294;
}
.menu-burger.open::after {
  top: 1.5rem;
  transform: rotate(90deg) translate(0.5rem, 2px);
  width: 2rem;
  transition: all 0.1s ease-in;
  -webkit-animation: move 1s linear 0.5s normal;
          animation: move 1s linear 0.5s normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: #017294;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.8s ease-in-out;
  z-index: 1;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav.open .menu-nav__item:nth-child(1) {
  -webkit-animation: animate 1.5s ease-in-out;
          animation: animate 1.5s ease-in-out;
}
.nav .menu-nav.open .menu-nav__item:nth-child(2) {
  -webkit-animation: animate 1.75s ease-in-out;
          animation: animate 1.75s ease-in-out;
}
.nav .menu-nav.open .menu-nav__item:nth-child(3) {
  -webkit-animation: animate 2s ease-in-out;
          animation: animate 2s ease-in-out;
}
.nav .menu-nav.open .menu-nav__item:nth-child(4) {
  -webkit-animation: animate 2.25s ease-in-out;
          animation: animate 2.25s ease-in-out;
}
.nav .menu-nav.open .menu-nav__item:nth-child(5) {
  -webkit-animation: animate 2.5s ease-in-out;
          animation: animate 2.5s ease-in-out;
}
.nav .menu-nav.open .menu-nav__item:nth-child(6) {
  -webkit-animation: animate 3s ease-in-out;
          animation: animate 3s ease-in-out;
}
.nav .menu-nav.open .menu-nav__item:nth-child(7) {
  -webkit-animation: animate 3.25s ease-in-out;
          animation: animate 3.25s ease-in-out;
}
.nav .menu-nav.open .menu-nav__item:nth-child(8) {
  -webkit-animation: animate 3.5s ease-in-out;
          animation: animate 3.5s ease-in-out;
}
@-webkit-keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.nav .menu-nav__link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 0;
  font-weight: 300;
  color: #017294;
  transition: all 0.2s ease-in-out;
}
.nav .menu-nav__link:hover {
  color: #1c1c1c;
  transform: translateY(-10px);
}
.nav .menu-nav__link::after {
  content: "";
  width: 100%;
  height: 2px;
  justify-content: center;
  background-color: #017294;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
  margin-top: 3rem;
}
.nav .menu-nav__link:hover::after {
  transform: scaleX(1);
  opacity: 0.3;
}

/**
  * * The primary font is "Cormorant"
  * * The secondary font is "Krub"
  * * Primary Handwriting font alternative is "Ms Madi"
  * * Secondary Handwriting font alternative is "Mrs Saint Delafield / love light"
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.home-section {
  position: relative;
}

.bg-text {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-family: "Krub", sans-serif;
  font-weight: 500;
  letter-spacing: 0.25rem;
  color: #ffffff;
}
.bg-text-flame, .bg-text-zigzag {
  max-width: 100%;
  height: auto;
  width: 60px;
  display: inline-block;
  position: relative;
  margin: 0;
  z-index: -99;
  top: 16%;
  margin-bottom: 0;
}
.bg-text-zigzag {
  position: relative;
  top: 18%;
  width: 128px;
  height: 20px;
}

.bg-text-action {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 30%;
}
.bg-text-action h1 {
  font-size: 2rem;
  font-weight: 600;
}
.bg-text-action h4 {
  margin: 2.75rem 0 1.75rem 0;
  font-size: 1rem;
  font-weight: 600;
}
.bg-text-action p {
  justify-content: center;
  padding-bottom: 1.25rem;
}
.bg-text-action .action {
  position: relative;
  height: 200px;
  width: 250px;
  margin: 0 auto;
}
.bg-text-action .action .arrow {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  width: 50px;
  transform: rotate(180deg);
  margin-top: 4rem;
}
.bg-text-action .action .btn {
  background-color: transparent;
  width: 168px;
  height: 48px;
  color: #ffffff;
  font-family: "Krub", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ffffff;
}

.video-background {
  background: rgb(255, 73, 73);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100%;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}
.home-text {
  position: relative;
  z-index: -99;
  display: inline-block;
  line-height: 1.5;
  margin: 0 auto;
  color: #017294;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.2;
  padding-bottom: 5.5rem;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
  margin-top: 4rem;
}
.home-text-2 {
  padding-top: 2.5rem;
}
.home-text-rule {
  background-color: #017294;
  width: 60%;
  margin: 0 auto;
  margin-top: 5.5rem;
}/*# sourceMappingURL=main.css.map */