@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400;500;600&family=Krub:wght@200;300;400&family=Love+Light&family=Ms+Madi&family=Passions+Conflict&display=swap");
/**
  * * The primary font is "Cormorant"
  * * The secondary font is "Krub"
  * * Primary Handwriting font alternative is "Ms Madi"
  * * Secondary Handwriting font alternative is "Mrs Saint Delafield / love light"
*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400;500;600&family=Krub:wght@200;300;400&family=Love+Light&family=Ms+Madi&family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400;500;600&family=Krub:wght@200;300;400&family=Love+Light&family=Ms+Madi&family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400;500;600&family=Krub:wght@200;300;400&family=Love+Light&family=Ms+Madi&family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400;500;600&family=Krub:wght@200;300;400&family=Love+Light&family=Ms+Madi&family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400;500;600&family=Krub:wght@200;300;400&family=Love+Light&family=Ms+Madi&family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400;500;600&family=Krub:wght@200;300;400&family=Love+Light&family=Ms+Madi&family=Passions+Conflict&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 36vh;
}

.navButtonItem {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0.75rem;
  position: relative;
  pointer-events: all;
  transition: all 0.5s ease-in-out;
}
.navButtonItem:hover {
  transform: scale(1.2);
}
.navButtonItem:active {
  background-color: rgb(0, 0, 0);
}
.navButtonItem::after {
  content: "";
  position: absolute;
  top: -0.075rem;
  right: 0;
  left: 0;
  bottom: 0;
  height: 0.5rem;
  width: 0.5rem;
  transition: all 0.1s ease-in-out;
  border-radius: 50%;
  background-color: transparent;
}
.navButtonItem:hover::after {
  background-color: transparent;
}
.navButtonItem:focus::after, .navButtonItem.active::after {
  background-color: black;
}

.navButton {
  position: fixed;
  top: 36vh;
  right: 0.5rem;
  grid-template-columns: 1fr;
  padding: 2rem;
  padding-right: 0.5rem;
  z-index: 2;
}

.home,
.island,
.hunt,
.program,
.journey,
.packages,
.experience {
  position: relative;
  text-align: center;
  font-size: 1.25rem;
  font-family: "Cormorant Garamond", serif;
}

.hunt {
  height: 80vh;
}

.program {
  min-height: 70vh;
}

.journey {
  min-height: 60vh;
}

.packages {
  background: #ce7da5;
  min-height: 80vh;
}

.experience {
  background-color: aqua;
  min-height: 80vh;
}

/**
  * * The primary font is "Cormorant"
  * * The secondary font is "Krub"
  * * Primary Handwriting font alternative is "Ms Madi"
  * * Secondary Handwriting font alternative is "Mrs Saint Delafield / love light"
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.menu {
  position: fixed;
  left: 0.5rem;
  top: 1rem;
  height: 40px;
  width: 50px;
  display: flex;
  justify-content: center;
  z-index: 4;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-text {
  position: fixed;
  left: 3.75rem;
  top: 1.6rem;
  margin: 0;
  color: #ffffff;
  font-family: "Krub", sans-serif;
}
.menu-burger {
  position: fixed;
  top: 2rem;
  left: 0.5rem;
  margin: 0.2rem 0.7rem;
  height: 0.1575rem;
  width: 1.6rem;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
}
.menu-burger::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: 0;
  height: 0.1575rem;
  width: 1.75rem;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
}
.menu-burger::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  width: 1.25rem;
  left: 0;
  height: 0.1575rem;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
}
.menu-burger.open {
  background: transparent;
}
.menu-burger.open .ticket {
  display: none;
}
.menu-burger.open .menu-text {
  visibility: hidden;
}
@-webkit-keyframes move {
  0% {
    transform: rotate(90deg) translate(1.5rem, 2px);
    top: 5px;
  }
  100% {
    transform: rotate(90deg) translate(-5px, 2px);
    top: 2px;
  }
}
@keyframes move {
  0% {
    transform: rotate(90deg) translate(1.5rem, 2px);
    top: 5px;
  }
  100% {
    transform: rotate(90deg) translate(-5px, 2px);
    top: 2px;
  }
}
.menu-burger.open::before {
  background-color: #017294;
}
.menu-burger.open::after {
  top: 1.5rem;
  transform: rotate(90deg) translate(0.5rem, 2px);
  width: 2rem;
  transition: all 0.1s ease-in;
  -webkit-animation: move 1s linear 0.5s normal;
          animation: move 1s linear 0.5s normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: #017294;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  z-index: 3;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.8s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav.open .menu-nav__item:nth-child(1) {
  -webkit-animation: animate 1.5s ease-in-out;
          animation: animate 1.5s ease-in-out;
}
.nav .menu-nav.open .menu-nav__item:nth-child(2) {
  -webkit-animation: animate 1.75s ease-in-out;
          animation: animate 1.75s ease-in-out;
}
.nav .menu-nav.open .menu-nav__item:nth-child(3) {
  -webkit-animation: animate 2s ease-in-out;
          animation: animate 2s ease-in-out;
}
.nav .menu-nav.open .menu-nav__item:nth-child(4) {
  -webkit-animation: animate 2.25s ease-in-out;
          animation: animate 2.25s ease-in-out;
}
.nav .menu-nav.open .menu-nav__item:nth-child(5) {
  -webkit-animation: animate 2.5s ease-in-out;
          animation: animate 2.5s ease-in-out;
}
.nav .menu-nav.open .menu-nav__item:nth-child(6) {
  -webkit-animation: animate 3s ease-in-out;
          animation: animate 3s ease-in-out;
}
.nav .menu-nav.open .menu-nav__item:nth-child(7) {
  -webkit-animation: animate 3.25s ease-in-out;
          animation: animate 3.25s ease-in-out;
}
.nav .menu-nav.open .menu-nav__item:nth-child(8) {
  -webkit-animation: animate 3.5s ease-in-out;
          animation: animate 3.5s ease-in-out;
}
@-webkit-keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.nav .menu-nav__link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 0;
  font-weight: 300;
  color: #017294;
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav__link:hover {
  color: #1c1c1c;
  transform: translateY(-10px);
}
.nav .menu-nav__link::after {
  content: "";
  width: 100%;
  height: 2px;
  justify-content: center;
  background-color: #017294;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
  margin-top: 3rem;
}
.nav .menu-nav__link:hover::after {
  transform: scaleX(1);
  opacity: 0.3;
}

.ticket {
  position: fixed;
  right: 0.5rem;
  top: 1rem;
  height: 40px;
  width: 150px;
  z-index: 1;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.ticket-btn {
  background-color: transparent;
  width: 168px;
  height: 40px;
  color: #017294;
  position: relative;
  z-index: 1;
  font-family: "Krub", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border: 2px solid #017294;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  width: 136px;
  z-index: 1;
}
.ticket-btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #017294;
  top: 0;
  left: -100%;
  z-index: -99;
  transition: all 0.5s ease-in-out;
}
.ticket-btn:hover::before {
  left: 0;
}
.ticket-btn:hover {
  outline: 1px solid #ffffff;
  box-shadow: 0 0 5px #ffffff;
  background-color: #017294;
  color: #ffffff;
}

/**
  * * The primary font is "Cormorant"
  * * The secondary font is "Krub"
  * * Primary Handwriting font alternative is "Ms Madi"
  * * Secondary Handwriting font alternative is "Mrs Saint Delafield / love light"
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.home-section {
  position: relative;
}

.bg-text {
  position: relative;
  width: 100%;
  height: 110vh;
  margin: 0 auto;
  font-family: "Krub", sans-serif;
  font-weight: 500;
  letter-spacing: 0.25rem;
  color: #ffffff;
}
.bg-text .bg {
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 110vh;
  margin: 0 auto;
  z-index: -99;
  -webkit-animation: bg 30s ease infinite;
          animation: bg 30s ease infinite;
}
@-webkit-keyframes bg {
  0%, 100% {
    background-image: url("/public/images/slide.jpg");
  }
  20% {
    background-image: url("/public/images/slide1.jpg");
  }
  40% {
    background-image: url("/public/images/slide2.jpg");
  }
  60% {
    background-image: url("/public/images/slide3.jpg");
  }
  80% {
    background-image: url("/public/images/slide4.jpg");
  }
}
@keyframes bg {
  0%, 100% {
    background-image: url("/public/images/slide.jpg");
  }
  20% {
    background-image: url("/public/images/slide1.jpg");
  }
  40% {
    background-image: url("/public/images/slide2.jpg");
  }
  60% {
    background-image: url("/public/images/slide3.jpg");
  }
  80% {
    background-image: url("/public/images/slide4.jpg");
  }
}
.bg-text-flame, .bg-text-zigzag {
  max-width: 100%;
  height: auto;
  width: 60px;
  display: inline-block;
  position: relative;
  margin: 0;
  z-index: -1;
  top: 22%;
  margin-bottom: 0;
}
.bg-text-zigzag {
  position: relative;
  top: 24%;
  width: 128px;
  height: 20px;
}

.bg-text-action {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 36%;
}
.bg-text-action h1 {
  font-size: 2rem;
  font-weight: 600;
}
.bg-text-action h4 {
  margin: 2.75rem 0 1.75rem 0;
  font-size: 1rem;
  font-weight: 600;
}
.bg-text-action p {
  justify-content: center;
  padding-bottom: 1.25rem;
}
.bg-text-action .action {
  position: relative;
  height: 200px;
  width: 250px;
  margin: 0 auto;
}
.bg-text-action .action .direction {
  width: 100px;
  height: 100px;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  margin-top: 3rem;
}
.bg-text-action .action .direction:hover {
  transform: scale(1.1);
  margin-top: 6rem;
  transition: all 0.6s ease-in-out 0.2s;
}
.bg-text-action .action .arrow {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  width: 50px;
  transform: rotate(180deg);
}
.bg-text-action .action .btn {
  background-color: transparent;
  width: 168px;
  height: 40px;
  color: #017294;
  position: relative;
  z-index: 1;
  font-family: "Krub", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border: 2px solid #017294;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  color: #ffffff;
  font-weight: 500;
  border-color: #ffffff;
}
.bg-text-action .action .btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #017294;
  top: 0;
  left: -100%;
  z-index: -99;
  transition: all 0.5s ease-in-out;
}
.bg-text-action .action .btn:hover::before {
  left: 0;
}
.bg-text-action .action .btn:hover {
  outline: 1px solid #ffffff;
  box-shadow: 0 0 5px #ffffff;
  background-color: #017294;
  color: #ffffff;
}
.bg-text-action .action .btn:hover {
  color: #ffffff;
  font-weight: 600;
}

.video-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100%;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}
.home-text {
  position: relative;
  z-index: -99;
  display: inline-block;
  line-height: 1.5;
  margin: 0 auto;
  color: #017294;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.2;
  padding: 0 2rem 5.5rem 2rem;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
  margin-top: 4rem;
}
.home-text-2 {
  padding-top: 2.5rem;
}
.home-text-rule {
  background-color: #017294;
  width: 60%;
  margin: 0 auto;
  margin-top: 5.5rem;
}

.bg-cut {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  z-index: -99;
}
.bg-cut .first-cut {
  position: absolute;
  top: -8px;
  max-height: 50px;
  max-width: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  transform: rotate(180deg);
}

/**
  * * The primary font is "Cormorant"
  * * The secondary font is "Krub"
  * * Primary Handwriting font alternative is "Ms Madi"
  * * Secondary Handwriting font alternative is "Mrs Saint Delafield / love light"
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.island-section {
  width: 100%;
  position: relative;
  margin: 0 auto;
  height: 150vh;
}
.island-section-text {
  width: 100%;
  height: 40%;
  position: relative;
  margin: 0 auto;
  line-height: 1.5;
  font-family: "Cormorant Garamond", serif;
  color: #017294;
}
.island-section-text h3 {
  font-family: "love light", cursive;
  font-weight: 400;
  font-size: 2rem;
  color: black;
  padding: 3.5rem 0 1rem;
}
.island-section-text h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.island-section-text p {
  font-size: 1rem;
  color: black;
  line-height: 1.6;
  font-weight: 500;
}
.island-section .island-image {
  position: relative;
  top: -150px;
  width: 100%;
}
.island-section .island-image-plane {
  position: absolute;
  right: 0;
  top: 68%;
  max-width: 200px;
  max-height: 200px;
  scale: 1.3;
}
.island-section .island-image-plane img {
  width: 100%;
}
.island-section .flower-5 {
  width: 100%;
  position: absolute;
  left: -3%;
  top: 25%;
  max-width: 240px;
  max-height: 240px;
  width: 300px;
}
.island-section .flower-5 img {
  width: 100%;
}
.island-section .island-btn {
  background-color: transparent;
  width: 168px;
  height: 40px;
  color: #017294;
  position: relative;
  z-index: 1;
  font-family: "Krub", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border: 2px solid #017294;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  top: -172px;
  z-index: 2;
}
.island-section .island-btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #017294;
  top: 0;
  left: -100%;
  z-index: -99;
  transition: all 0.5s ease-in-out;
}
.island-section .island-btn:hover::before {
  left: 0;
}
.island-section .island-btn:hover {
  outline: 1px solid #ffffff;
  box-shadow: 0 0 5px #ffffff;
  background-color: #017294;
  color: #ffffff;
}

/**
  * * The primary font is "Cormorant"
  * * The secondary font is "Krub"
  * * Primary Handwriting font alternative is "Ms Madi"
  * * Secondary Handwriting font alternative is "Mrs Saint Delafield / love light"
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.hunt-section {
  width: 100%;
  height: 80vh;
  position: relative;
  background-image: url("/public/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hunt-section-text {
  position: absolute;
  top: 18%;
  width: 100%;
  height: 40%;
  line-height: 1.5;
  font-family: "Cormorant Garamond", serif;
  color: #017294;
}
.hunt-section-text h3 {
  font-family: "love light", cursive;
  font-weight: 400;
  font-size: 2rem;
  color: black;
  padding: 3.5rem 0 1rem;
}
.hunt-section-text h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.hunt-section-text p {
  color: black;
  font-size: 1rem;
  line-height: 2;
  margin-bottom: 2rem;
}
.hunt-section-text p + p {
  font-size: 1.25rem;
  color: #017294;
  line-height: 1.6;
  font-weight: 500;
}
.hunt-section-text p + p .pencil {
  position: relative;
}
.hunt-section-text p + p .pencil img {
  max-width: 100%;
  max-height: 100%;
  height: 0.75rem;
  width: 9rem;
  position: absolute;
  top: 90%;
  left: 0;
  transform: rotate(180deg);
}
.hunt-section-text .second-cut {
  position: absolute;
  max-height: 50px;
  max-width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  top: 126px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/**
  * * The primary font is "Cormorant"
  * * The secondary font is "Krub"
  * * Primary Handwriting font alternative is "Ms Madi"
  * * Secondary Handwriting font alternative is "Mrs Saint Delafield / love light"
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.program-section {
  position: relative;
  width: 100%;
}
.program-section .third-cut {
  position: absolute;
  max-height: 50px;
  max-width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  transform: rotate(180deg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.program-section .program-1 {
  position: relative;
  width: 100%;
  height: 90vh;
  line-height: 1.5;
  font-family: "Cormorant Garamond", serif;
  color: black;
}
.program-section .program-1 h3 {
  font-family: "love light", cursive;
  font-weight: 500;
  font-size: 2rem;
  color: black;
  padding: 7rem 0 1rem;
}
.program-section .program-1 h3 span {
  font-family: "Dancing Script", cursive;
  font-size: 1.65rem;
  font-weight: lighter;
}
.program-section .program-1 h3 span span {
  font-family: "Passions Conflict", cursive;
  font-size: 2.25rem;
  font-weight: 500;
}
.program-section .program-1 h2 {
  font-size: 1.5rem;
  margin: 1.25rem 0 2rem;
  font-weight: 600;
}
.program-section .program-1 p {
  font-size: 1.05rem;
  font-weight: 700;
  line-height: 1.8;
}
.program-section .program-1 .program-btn {
  background-color: transparent;
  width: 168px;
  height: 40px;
  color: #017294;
  position: relative;
  z-index: 1;
  font-family: "Krub", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border: 2px solid #017294;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  position: relative;
  top: 35%;
}
.program-section .program-1 .program-btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #017294;
  top: 0;
  left: -100%;
  z-index: -99;
  transition: all 0.5s ease-in-out;
}
.program-section .program-1 .program-btn:hover::before {
  left: 0;
}
.program-section .program-1 .program-btn:hover {
  outline: 1px solid #ffffff;
  box-shadow: 0 0 5px #ffffff;
  background-color: #017294;
  color: #ffffff;
}
.program-section .program-1 .fourth-cut {
  position: absolute;
  max-height: 50px;
  max-width: 100%;
  left: 0;
  top: 95%;
  margin: 0;
  padding: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.program-section .program-1 .flower-7 {
  width: 100%;
  position: absolute;
  left: -1%;
  top: 17%;
  max-width: 240px;
  max-height: 240px;
  width: 300px;
  transform: rotate(180deg);
  z-index: 1;
}
.program-section .program-1 .flower-7 img {
  width: 100%;
}
.program-section .program-1 .flower-3 {
  width: 100%;
  position: absolute;
  right: -1.5%;
  top: 51.5%;
  max-width: 240px;
  max-height: 240px;
  width: 300px;
  z-index: 1;
}
.program-section .program-1 .flower-3 img {
  width: 100%;
}

.program-2 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("/public/images/beach.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.program-2-text {
  position: absolute;
  top: 55%;
  height: 30%;
  width: 100%;
  margin: 0 auto;
  color: #ffffff;
  line-height: 1.4;
  font-family: "Cormorant Garamond", serif;
  font-size: 2.5rem;
  font-weight: 400;
  font-style: italic;
}

/**
  * * The primary font is "Cormorant"
  * * The secondary font is "Krub"
  * * Primary Handwriting font alternative is "Ms Madi"
  * * Secondary Handwriting font alternative is "Mrs Saint Delafield / love light"
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.journey-section-1 {
  background-color: #ffffff;
  position: relative;
  height: 60vh;
  width: 100%;
}
.journey-section-1 .fifth-cut {
  position: absolute;
  max-height: 50px;
  max-width: 100%;
  left: 0;
  top: -4%;
  margin: 0;
  padding: 0;
  z-index: 1;
  transform: rotate(180deg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.journey-section-1 .journey-section-1-text {
  position: absolute;
  top: 2%;
  width: 100%;
  height: 40%;
  line-height: 1.5;
  font-family: "Cormorant Garamond", serif;
  color: #017294;
}
.journey-section-1 .journey-section-1-text h3 {
  font-family: "love light", cursive;
  font-weight: 400;
  font-size: 2rem;
  color: black;
  padding: 3.5rem 0 1rem;
  margin-bottom: 0.75rem;
}
.journey-section-1 .journey-section-1-text h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 1.75rem;
  margin-bottom: 1rem;
  margin-bottom: 0.75rem;
}
.journey-section-1 .journey-section-1-text p {
  color: black;
  font-size: 1rem;
  line-height: 2;
  margin-bottom: 2rem;
  margin-bottom: 0;
  font-weight: 600;
}
.journey-section-1 .journey-section-1-text .journey-btn {
  position: relative;
  background-color: transparent;
  width: 168px;
  height: 40px;
  color: #017294;
  position: relative;
  z-index: 1;
  font-family: "Krub", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  border: 2px solid #017294;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  margin-top: 2rem;
}
.journey-section-1 .journey-section-1-text .journey-btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #017294;
  top: 0;
  left: -100%;
  z-index: -99;
  transition: all 0.5s ease-in-out;
}
.journey-section-1 .journey-section-1-text .journey-btn:hover::before {
  left: 0;
}
.journey-section-1 .journey-section-1-text .journey-btn:hover {
  outline: 1px solid #ffffff;
  box-shadow: 0 0 5px #ffffff;
  background-color: #017294;
  color: #ffffff;
}
.journey-section-1 .sixth-cut {
  position: absolute;
  max-height: 50px;
  max-width: 100%;
  left: 0;
  top: 95%;
  margin: 0;
  padding: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.journey-section-1 .model {
  width: 100%;
  position: absolute;
  right: -1%;
  top: 35%;
  max-width: 240px;
  max-height: 240px;
  width: 300px;
  z-index: 1;
}
.journey-section-1 .model img {
  width: 100%;
}

.journey-section-2 {
  position: relative;
  height: 95vh;
  width: 100%;
  background-color: rgba(38, 150, 233, 0.4);
}
.journey-section-2 video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}/*# sourceMappingURL=main.css.map */